.image-size-manager-options-wrap {

  margin: 25px 0 30px;
  border: 1px solid #CCC;
  padding: 5px 5px 10px;

  h2 {

    margin: 8px 0 10px;
    padding-bottom: 4px;
    text-transform: uppercase;
    text-align: center;
    color: #444;
  }

  .one-checkbox {

    margin: 5px;
    padding: 6px 11px 6px;
    background-color: #43AC6A;
    color: #FFF;
    text-align: left;
    min-width: 240px;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 6px;
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;

    label {

      font-size: 13px;
    }

    &:hover {

      cursor: pointer;
      background-color: lighten(#43AC6A, 5%);
    }

    .icon-wrap {

      width: 20px;
      display: inline-block;
      vertical-align: middle;

      i.fa {

        font-size: 21px;
        vertical-align: middle;
      }
    }

    &.deselected {

      background-color: #444;
      color: #999;

      &:hover {

        background-color: #444;
      }

      //i.fa {
      //
      //  &:before {
      //
      //    content: "\f096";
      //  }
      //}
    }
  }

  .description-text {

    text-align: center;
    color: #555;
    font-size: 14px;

    a.deselect-all-images, a.select-all-images {

      text-decoration: underline;

      &:hover {

        cursor: pointer;
      }
    }

    i.fa {

      color: #0073aa;
      opacity: 0;
    }
  }

}